__pycache__/
venv/
.env
.idea
node_modules
upload_files


.jpg
.jpeg
.json
.png
migrations/

db.sqlite3
utilities/demo_widsdatathon2020/
utilities/.ipynb_checkpoints/
utilities/*/.DS_Store
.DS_Store
utilities/paper/
utillities/graph_test.json
