__pycache__/
venv/
.env
.idea
node_modules
upload_files

.json
.png
.jpg
.jpeg

db.sqlite3
utilities/output/charts/*.png
demo_widsdatathon2020/training_v2.csv
utilities/.ipynb_checkpoints/
utilities/*/.DS_Store
utilities/*.ipynb

