__pycache__/
.vscode/
venv/
.env
.idea
node_modules
upload_files
sirius.egg-info/
tmp/

.jpg
.jpeg
.json
.png
migrations/

db.sqlite3
example_*/output/
utilities/.ipynb_checkpoints/
utilities/*/.DS_Store
.DS_Store
utilities/paper/
utilities/graph_test.json
