{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="{% static 'styles/web.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/font-awesome.css' %}" rel="stylesheet">

</head>
<body class="base-bg">
    <nav class="navbar navbar-expand-lg eat-bar">
        <span class="navbar-brand eat-nav-title">SIRIUS <span class="small">Exploratory Analysis Tool</span></span>
        <span class="navbar-brand upload-link" id="upload-link">Upload Dataset</span>
    </nav>
    <div id="drawing-section" class="container">
        <svg width="1100" height="900"></svg>
        <div id="right-bar" class="col-3">
            <div>
                <span class="close-btn"><i class="fa fa-times-circle"></i></span>
            </div>
            <div class="right-bar-content">
                <h2>Make Connections</h2>
                <p>
                    Humans before us mapped out the constellations to tell stories. We'are looking to help researchers map
                    out connections in any data set so they can reveal stories from them.
                </p>
                <p>Click on any edge to explore connections.</p>
                <form class="upload-form" method="post" id="upload_form" encType="multipart/form-data">
                    {% csrf_token %}
                    <input class="file-input-box" type="file" name="{{ upload_form.file_field.html_name }}" id="upload_box" multiple/>
                    <label class="file-input-label" for="upload_box">Upload Your Dataset</label>
                    <button class="submit-btn" type="submit">Upload Dataset</button>
                </form>
            </div>
            <div class="right-bar-image" hidden>
                <p class="right-bar-image-title">Edge Details</p>
                <p id="image-title"></p>
                <img id="difference_chart">

            </div>
        </div>
    </div>


<input hidden value="{{ json_file_url }}" id="json-url">
{{ form_error }}
</body>

<script type="text/javascript" src="{% static 'scripts/graph.js' %}"></script>
</html>