{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rubik&display=swap" rel="stylesheet">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="{% static 'styles/web.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/font-awesome.css' %}" rel="stylesheet">

</head>
<body class="base-bg">
    <nav class="navbar navbar-expand-lg eat-bar">
        <span class="navbar-brand eat-nav-title">SIRIUS <span class="small">Exploratory Analysis Tool</span></span>
        <span class="navbar-brand upload-link" id="upload-link">Upload Dataset</span>
    </nav>
    <div id="drawing-section" class="container-responsive">
        <div class="row">
            <div id="network_graph" class="col-8"></div>
            <div id="sidebar" class="col-4 side-panel"></div>
        </div>
    </div>
    <input hidden value="{{ json_file_url }}" id="json-url">
    {{ form_error }}
</body>

<script type="text/javascript" src="{% static 'scripts/graph.js' %}"></script>
</html>




