
.base-bg {
    background-image: url("../../static/images/home-background.svg");
    background-color: #0F1847;
}
.navbar.navbar-expand-lg.eat-bar{
    background-color: #102136;
    border-bottom: 2px solid #3f62b8;
    height: 70px;

}
span.navbar-brand.eat-nav-title{
    color: white;
    font-size: 20px;
    letter-spacing: 1.94px;
}
span.navbar-brand.eat-nav-title .small{
    font-size: 16px;
    letter-spacing: 1.36px;
}
span.navbar-brand.upload-link{
    color: white;
    font-size: 16px;
    /*font-family: Raleway;*/
    letter-spacing: 1.62px;
    position: absolute;
    right: 30px;
}
span.navbar-brand.upload-link:hover{
    cursor: pointer;
}

.file-input-box{
    width: 0.01px;
	height: 0.01px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-input-label{
    color: white;
    cursor: pointer;
}

#right-bar{
    overflow: visible;
    background-color: #202644;
    /*z-index: 1;*/
    width: 505px;
    height: 951px;
    position: absolute;
    top: 70px;
    right: 0;

}
.close-btn {
  top: 40px;
  right: 40px;
  position: absolute;
}
.close-btn .fa.fa-times-circle {
  font-size: 20px;
  color: white;
}
.close-btn .fa.fa-times-circle:hover{
  cursor: pointer;
}


.right-bar-content{
  position: absolute;
  top: 70px;
  margin: 60px;
  color: white;
}
.right-bar-image{
    color: white;
    margin-left: 10px;
    margin-top: 35px;
}
.right-bar-image .right-bar-image-title{
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2.33px;
}
.right-bar-image #image-title{
    margin-bottom: 0;
}

.upload-form{
  margin-top: 100px;
}
.submit-btn{
  background-color: #3f62b8;
  border: none;
  color: white;
  font-size: 12px;
  width: 185px;
  height: 45px;
  letter-spacing: 1.62px;
  text-align: center;
}
svg g line:hover{
   cursor: pointer;
}